body{
    margin: 0;
    font-family:sans-serif;
    overflow-x: hidden;
    
    
}
.general{
    background-color:#F6891D;
    height: 100%;
    width: 100%;
}


/*===menu=======*/
#menu li > a{
    font-weight: bold;
    font-size: 15px;
    color: #F6891D;

}
#menu li:hover{
    background-color: #D6924D;
}
#menu li a:hover{
    color:#2E255B;
}


.container{
    background: #EAE6DC;

}



/*====SLIDER*/

/*===tarjetas*/


.slide{
    width: 80%;
    
}
.row{
    width: 98%;
    top: 200px;

}

.cuadro1{
    
    height: 20%;
    
    
}
.cuadro2{
    
    height: 10%;
    display: flex;
    text-align: center;
    align-items: center;
}

.cuadros{
    width: 90%;
   
    height: 100%;
}

p{
    width: 70%;
    margin-left: 70px;

}
ul{
    list-style: none;
}
li:hover{
    color: grey;
    
}
.menu1{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    
    width: 80%;
    
}


@media (max-width:768px) {
    #intro{
        width: 90% !important;
    }
}

.servicio{
    width: 100% !important;
    text-align: center;
}
@media (max-widht:576px) {
    .icono{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    
}

.informacion > p{
    color: #F6891D;
}
.informacion{
    background: #EAE6DC;
}
@media (max-width:768px) {
    #perros{
        width: 90% !important;
    }
   
}
@media (max-width:576px) {
    #perros{
        width: 90% !important;
    }
   
}
.tilin{
    background-color:blueviolet;
}
